.modal-body {
    height: 260px;
}
.modal-dialog{
    width: 700px;
}
.modal-content {
    border-radius: 30px;
    background-color: #fd7b0c;
}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: white;
}
h1, h3 {
    color: white;
}
ul li {
  color: white;
  font-size: 20px;
}
#circle-content {
    margin-bottom: 30px;
    margin-top: 30px;
}
.circle-container {
    position: relative;
    width: 40em;
    height: 40em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/

    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em;
}
.circle-container img {
    display: block;
    width: 100%;
}
.deg0 {
    transform: translate(20em);
}
/* 12em = half the width of the wrapper */

.deg45 {
    transform: rotate(45deg) translate(20em) rotate(-45deg);
}
.deg135 {
    transform: rotate(135deg) translate(20em) rotate(-135deg);
}
.deg180 {
    transform: translate(-20em);
}
.deg225 {
    transform: rotate(225deg) translate(20em) rotate(-225deg);
}
.deg315 {
    transform: rotate(315deg) translate(20em) rotate(-315deg);
}
.deg270 {
    transform: rotate(270deg) translate(20em) rotate(-270deg);
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 220px;
    background-color: #33A09D;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

    height: 220px;
    background-color: #444;
}
.footer p {
    color: #999;
}
.footer hr {
    border-color: #999;
}
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
