<!DOCTYPE html>
<html>
<head>
  <title>You're Sweet Enough</title>
  <meta charset="UTF-8">
  <meta name="author" content="Michael Van Brummen">
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
</head>
<body>
 <!-- AngularJS -->
 <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="node_modules\angular-modal-service\dst\angular-modal-service.min.js"></script>
 <!-- Application code -->
 <script src="js/app.js"></script>

  <div ng-app="sweetApp" ng-controller="sweetController">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <h1 class="logo">You're Sweet Enough</h1>
          <h1 class="animated fadeInUp">what sugar does inside your body</h1>
          <h3 class="animated fadeInUp">click each organ to learn more</h3>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div id="circle-content" class="row">
        <div class="col-md-12">
          <div class="circle-container">
            <a ng-click="showInfoModal('brain.png', '<h1>Facts</h1><ul> <li>Obesity is a leading risk factor for Type 2 Diabetes in children</li> <li>According to the AIHW the 2007-2008 ABS National Health Survey, 430,000 children aged 5 - 14 were overweight (17%) or obese (6%)</li> <li>According to the 2007-2008 Australian National Childrens Nutrition and Physical Activity survey, 47% of children (2-16 years) consume sugary drinks everyday</li> <li>Research shows that consuming 340ml of sugary drink a day (approximatley 1 can) increases the risk of type 2 Diabetes by 32%</li> <li>Sugary drinks produce more acid in the mouth which leads to enamel erosion and tooth decay</li> <li>According to the World Health Organisation (WHO) the prevalence of dental caries in children is linked vastly with excess sugar consumption</li> <li>Type 2 Diabetes accounts for 85% of ALL Diabetes!</li> </ul>', true)" style="top: 30%; left: 30%;" href='#' class='center'><img style="width: 500%" src="img/manpig.jpg"></img></a>
            <a ng-click="showInfoModal('heart.png', '<h1><strong>Heart disease</strong> is linked to excess sugar consumption and high blood pressure.</h1>')" href="" class='deg0'><img class="animated rubberBand" src="img/heart.png"></img></a>
            <a ng-click="showInfoModal('molar.png', '<h1>Excess sugar consumption can link to <strong>tooth decay</strong> and <strong>cavities</strong>. Bacteria in your mouth feed on sugar which produce <strong>enamel destroying acid</strong>.</h1>')" href='#' class='deg45'><img class="animated rubberBand" src="img/molar.png"></img></a>
            <a ng-click="showInfoModal('liver.png', '<h1>Sugar can lead to <strong>non-alcoholic fatty liver disease.</strong></h1>')" href='#' class='deg135'><img class="animated rubberBand" src="img/liver.png"></img></a>
            <a ng-click="showInfoModal('brain.png', '<h1>Too much sugar <strong>impairs memory, idea processing and moods.</strong></h1>')" href='#' class='deg180'><img class="animated rubberBand" src="img/brain.png"></img></a>
            <a ng-click="showInfoModal('pancreas.png', '<h1>Excess sugar consumption can lead to <strong>Type 2 Diabetes.</strong></h1>')" href='#' class='deg225'><img class="animated rubberBand" src="img/pancreas.png"></img></a>
            <a ng-click="showInfoModal('stomach.png', '<h1>Sugar consumption is linked to <strong>obesity and metabolic dysfunction.</strong></h1>')" href='#' class='deg315'><img class="animated rubberBand" src="img/stomach.png"></img></a>
            <a ng-click="showInfoModal('kidney.png', '<h1>Sugar overload can damage the <strong>kidneys filtration system</strong>. <strong>Diabetes</strong> is one of the main causes of <strong>kidney failure.</strong></h1>')" href='#' class='deg270'><img class="animated rubberBand" src="img/kidney.png"></img></a>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'templates/footer.html'"></div>
  </div>
</body>
</html>
