<footer class="footer">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr />
    <div class="col-md-4">
          <p>&copy; 2016 Michael Van Brummen &amp; Katie Piltz</p>
    </div>
    <div class="col-md-4">
      <p>Sources</p>
      <a href="http://www.rethinksugarydrink.org.au/facts">Rethinksugarydrink.org.au 2016, Facts about sugary drinks</a>
      <a href="http://www.who.int/publications/en/">World Health Organization (WHO) 2016, Publications</a>
      <a href="http://www.aihw.gov.au/child­health/risk­factors">Aihw.gov.au (AIWH) 2016. Risk factors</a>
      <a href="https://www.ndss.com.au/type­2­diabetes­in­children­adolescents­information­sheet">Ndss.com.au 2016, Type 2 Diabetes in Children & Adolescents</a>
      <a href="https://www.diabetesaustralia.com.au/">Diabetesaustralia.com.au 2016, Diabetes Australia</a>
    </div>
    <div class="col-md-4">
      <div id="share-buttons" class="pull-right">
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
        </a>
        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</footer>
